[Desktop Entry]
Type=Application
Version=1.0
Name=Sayri
Comment=Local AI chat assistant
Exec="/home/mogged/Downloads/New Folder With Items/pulsar-assistant"
Icon=/home/mogged/Downloads/New Folder With Items/sayri.png
Path=/home/mogged/Downloads/New Folder With Items
Terminal=false
Categories=Utility;
StartupWMClass=pulsar-assistant
